:root{
    --clr-primary: rgb(34, 34, 255);
    --clr-white: #fff;
    --clr-black: #000;
    --clr-primary-2: #a216ff;
    --clr-red-dark: #ff0000;
    --clr-red-light: #ff4d4d;
    --clr-gold: #c59d5f;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --radius: 0.5rem;
    --fixed-width: 620px;
    --spacing: 0.25rem;

}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
    list-style-type: none;
   
}

.questions{
    display: grid;
    place-items: center;
}

.heading{
    margin-top:15vh;
    margin-bottom: 4rem;

}
.heading h2{
    color: var(--clr-gold);
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    font-family: "Great Vibes", cursive;
    text-align: center;
}
.section-center{
    max-width: var(--fixed-width);

}

.question-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding-bottom: 1rem;

}

.question-title p {
    margin-bottom: 0;
    letter-spacing: var(--spacing);

  }
  .question-btn {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    color: var(--clr-gold);
    transition: var(--transition);
  }

.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
    padding: 1rem 0 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }


/* hiding and showing */
/* hide text */
.question-text {
    display: none;
  }
  .show-text .question-text {
    display: block;
  }
  .minus-icon {
    display: none;
  }
  .show-text .minus-icon {
    display: inline;
  }
  .show-text .plus-icon {
    display: none;
  }
  